In [19]:
# Exercise 2: Create markdown cell with title of notebook

# Data Science Tools and Ecosystem

In [23]:
# Exercise 3 - Create markdown cell for an introduction

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Ojectives**
* List some of the popular languages that Data Scientist use
* List some of the commonly used liraries by Data Scieentists
* List som of the Data Science Tools

In [49]:
# Exercise 4 - Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are

1. Python
2. Java
3. R
4. C++

In [ ]:
# Exercise 5 - Create a markdown cell to list data science libraries

# Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotli
4. ggplot

In [ ]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Watson Studio|
|R Studio|

In [27]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in python

In [30]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [ ]:
# This is a simple arithmetic expression to multiply then add integers

In [32]:
(3*4)+5

17

In [34]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [42]:
# This will convert 200 minutes to hours by diving by 60

In [40]:
200//60

3

In [ ]:
# Exercise 11 - Insert a markdown cell to list Objectives

## Author
 Raphael Lawal